@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=P5sfzZCDf9_T_3cV7NCUECyoxNk37cxsBA&skey=6457c0ab3b693f57&v=v29) format('woff');
}
